<h1>User Reviews</h1>

<% @users.each do |user| %>
  <h2><%= user.name %></h2>
  <% user.reviews.each do |review| %>
    <%= link_to review.beer.name, beer_path(review.beer) %> - "<%= review.summary %>"<br>
    User Rating: <%= review.rating %>/10 <br><br>
  <% end %>
<% end %>
