<div class="page-header">
  <h1>Highest Rated Beers</h1>
</div>

<div class="beers">
  <% @beers.by_rating.each do |beer| %>
    <h2><%= link_to beer.name, beer_path(beer) %> - <%= beer.average_rating %></h2>
  <% end %>
</div>
